@import url(http://fonts.googleapis.com/css?family=Zeyada|Tillana|Delius|Lateef);
/*@import url(http://fonts.googleapis.com/css?family=Dosis:600|Quicksand|Lobster|Bangers);*/

body {
  padding-top: 50px;
  background-color: #fff;
  font-family: 'Delius', cursive;
  background-repeat: no-repeat;
  background-position: right top;
}

h1 {
  font-family: 'Zeyada', cursive;
}

h3 {
  font-size: 22px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.lango-thumb table {
  width: 50px;
  height: 50px;
  table-layout: fixed;
  overflow: hidden;
  white-space: nowrap;
}

.lango-thumb td {
  width: 30px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.lango-thumb div {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.lango-thumb img {
  width: 100%;
  height: 100%;
}

.lango-content-block {
  width: 400px;
}

.navbar {
  min-height: 30px;

}
.navbar-default {
  background-color: #eee;
  border-color: #ccc;
  font-family: 'Zeyada', cursive;
}
.navbar-art {
  border-color: #FFE800;
  -webkit-animation:navbar-art-border 40s infinite;
}
.navbar-games {
  border-color: #F084FF;
  -webkit-animation:navbar-games-border 40s infinite;
}
.navbar-sketchbook {
  border-color: #79F046;
  -webkit-animation:navbar-sketch-border 40s infinite;
}

.navbar-footer {
  background-color: #fff;
  border: 0px;
}
.navbar-default .navbar-brand {
  color: #383733;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #AAA9A2;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #383733;
}
.navbar-default .navbar-nav > li > a {
  color: #383733;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #AAA9A2;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #383733;
}
.navbar-art .navbar-nav > .active > a,
.navbar-art .navbar-nav > .active > a:hover,
.navbar-art .navbar-nav > .active > a:focus {
  background-color: #EDD90B;
  -webkit-animation:navbar-art-bg 40s infinite;
}
.navbar-games .navbar-nav > .active > a,
.navbar-games .navbar-nav > .active > a:hover,
.navbar-games .navbar-nav > .active > a:focus {
  background-color: #F084FF;
  -webkit-animation:navbar-games-bg 40s infinite;
}
.navbar-sketchbook .navbar-nav > .active > a,
.navbar-sketchbook .navbar-nav > .active > a:hover,
.navbar-sketchbook .navbar-nav > .active > a:focus {
  background-color: #79F046;
  -webkit-animation:navbar-sketch-bg 40s infinite;
}

@-webkit-keyframes navbar-art-bg {
  0% {background-color: #EDD90B;}
  25% {background-color: #FAA93D;}
  50% {background-color: #FB8146;}
  75% {background-color: #F4BD55;}
  100% {background-color: #EDD90B;}
}
@-webkit-keyframes navbar-art-border {
  0% {border-color: #EDD90B;}
  25% {border-color: #FAA93D;}
  50% {border-color: #FB8146;}
  75% {border-color: #F4BD55;}
  100% {border-color: #EDD90B;}
}

@-webkit-keyframes navbar-games-bg {
  0% {background-color: #F084FF;}
  25% {background-color: #BA9FFF;}
  50% {background-color: #808CFF;}
  75% {background-color: #B87EFF;}
  100% {background-color: #F084FF;}
}

@-webkit-keyframes navbar-games-border {
  0% {border-color: #F084FF;}
  25% {border-color: #BA9FFF;}
  50% {border-color: #808CFF;}
  75% {border-color: #B87EFF;}
  100% {border-color: #F084FF;}
}

@-webkit-keyframes navbar-sketch-bg {
  0% {background-color: #79F046;}
  25% {background-color: #ABF35A;}
  50% {background-color: #6CDF35;}
  75% {background-color: #33DD51;}
  100% {background-color: #79F046;}
}

@-webkit-keyframes navbar-sketch-border {
  0% {border-color: #79F046;}
  25% {border-color: #ABF35A;}
  50% {border-color: #6CDF35;}
  75% {border-color: #33DD51;}
  100% {border-color: #79F046;}
}


.navbar-brand {
  font-size: 28px;
  padding: 15px 35px
}

.nav > li > a {
  font-size: 20px;
  position: relative;
  display: block;
  padding: 15px 20px;
}